.container {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

#coke img {
    width: 200px;
    float: left;
}

#coke .controls {
    width: 350px;
    float: right;
}

#coke .controls button {
    width: 150px;
    height: 30px;
    display: block;
    margin: 5px;
}